{% extends "base.html.twig" %}

{% block body %}
    <div class="container-xxl">

        <div is="search-engine"
             class="p-2"
             data-query="{{ default_query | json_encode }}"
             data-url="{{ path('app_default_search') }}"
        >

            <div class="search-toolbar mb-3">
                <div class="query-editor mb-2" ></div>
                <button class="btn btn-primary"><i class="mdi mdi-magnify"></i> Search</button>
            </div>

            <div class="search-error" hidden="hidden"></div>

            <div class="search-result" hidden="hidden"></div>
        </div>
    </div>
{% endblock %}